<template>
  <div class="axios">

    <div class="axios__math">
      <span :class="{ error_math: aState.isError }"> {{ a }}</span>
      <span>+</span>
      <span :class="{ error_math: bState.isError }"> {{ b }}</span>
      <span>=</span>

      <input v-if="abState.isInput" ref="ab" tabindex="3" @input="checkAB" v-model="abState.value" :class="{ error_input: abState.isError }">
      <span v-else>{{ abText }}</span>
    </div>

    <div class="axios__draw canvas">
      <div v-if="aState.isShow" class="canvas__num" v-bind:style="aStyleObject">
        <input v-if="aState.isInput" ref="a" tabindex="1" @input="checkA" v-model="aState.value" :class="{ error_input: aState.isError }">
        <div v-else>{{ a }}</div>
      </div>
      <div v-if="bState.isShow" class="canvas__num" v-bind:style="bStyleObject">
        <input v-if="bState.isInput" ref="b" tabindex="2" @input="checkB" v-model="bState.value" :class="{ error_input: bState.isError }">
        <div v-else>{{ b }}</div>
      </div>
      <svg class="canvas__svg">
        <defs>
          <marker id="MarkerArrow" viewBox="0 0 10 10" refX="10" refY="5"
            markerUnits="userSpaceOnUse"  orient="auto"
            markerWidth="10" markerHeight="10">
            <polyline id="markerPoly1" points="0,0 10,5 0,10 2,5" fill="#B6195E" />
          </marker>
        </defs>
        <path v-if="aState.isShow" v-bind="pathA"/>
        <path v-if="bState.isShow" v-bind="pathB"/>
      </svg>
      <img class="image" src="../assets/sprite.png">
    </div>
  </div>
</template>

<script>
// общая высота
const Y = 80
// пикселей в сантиметре
const STEP = 39
// положение x для нуля
const MX = 35
// толщина линии
const WIDTH = 2
// максимальная длина дуги
const MAX_LENGTH = 350
// параметры поля ввода a и b
const INPUT_WIDTH = 14
const INPUT_MARGIN = 5

function getPath (start, end, state) {
  const length = end - start
  const QX = start + (length / 2)
  state.coor.x = QX
  const QY = (-(2 * Y - WIDTH) / (MAX_LENGTH / length)) + Y
  state.coor.y = -(Y - WIDTH) / (MAX_LENGTH / length)
  return `M ${start}, ${Y} Q ${QX}, ${QY}, ${end}, ${Y}`
}

export default {
  name: 'Axis',
  data () {
    return {
      aState: {
        value: null,
        isShow: true,
        isInput: true,
        coor: {
          x: null,
          y: null
        },
        isError: false
      },
      bState: {
        value: null,
        isShow: false,
        isInput: true,
        coor: {
          x: null,
          y: null
        },
        isError: false
      },
      abState: {
        value: null,
        isInput: false,
        isError: false
      }
    }
  },
  props: {
    a: {
      type: Number,
      required: true
    },
    b: {
      type: Number,
      required: true
    }
  },
  computed: {
    abText: function () {
      return (!this.aState.isInput && !this.bState.isInput) ? this.a + this.b : '?'
    },
    // координата x точки a
    AX: function () {
      return (this.a * STEP) + MX
    },
    // координата x точки b
    BX: function () {
      return (this.b * STEP) + this.AX
    },
    // кривая Безье для a
    pathA: function () {
      return {
        d: getPath(MX, this.AX, this.aState),
        style: `marker-end: url(#MarkerArrow); stroke:#B6195E; stroke-width:${WIDTH}; fill:none;`
      }
    },
    // кривая Безье для b
    pathB: function () {
      return {
        d: getPath(this.AX, this.BX, this.bState),
        style: `marker-end: url(#MarkerArrow); stroke:#B6195E; stroke-width:${WIDTH}; fill:none;`
      }
    },
    // положение поля ввода a
    aStyleObject: function () {
      return {
        top: `${this.aState.coor.y + Y - INPUT_MARGIN}px`,
        left: `${this.aState.coor.x - INPUT_WIDTH / 2}px`
      }
    },
    // положение поля ввода b
    bStyleObject: function () {
      return {
        top: `${this.bState.coor.y + Y - INPUT_MARGIN}px`,
        left: `${this.bState.coor.x - INPUT_WIDTH / 2}px`
      }
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      this.$refs.a.focus()
    })
  },
  methods: {
    checkA () {
      if (Number(this.aState.value) === this.a) {
        this.aState.isInput = false
        this.bState.isShow = true
        this.aState.isError = false
        this.$nextTick(() => {
          // теперь DOM обновлён
          this.$refs.b.focus()
        })
      } else {
        this.aState.isError = true
      }
    },
    checkB () {
      if (Number(this.bState.value) === this.b) {
        this.bState.isInput = false
        this.abState.isInput = true
        this.bState.isError = false
        this.$nextTick(() => {
          // теперь DOM обновлён
          this.$refs.ab.focus()
        })
      } else {
        this.bState.isError = true
      }
    },
    checkAB (event) {
      if (Number(this.abState.value) === this.a + this.b) {
        this.abState.isInput = false
      } else {
        this.abState.isError = true
      }
    }
  }
}
</script>

<style scoped lang="stylus">
  .axios
    text-align center
    display flex
    flex-direction: column
    &__math
      margin auto
      font-size 3rem
      margin-bottom 3rem
      input
        font-size 3rem
        width 57px
        border-radius: .6rem
    &__draw
      margin auto
  .canvas
    position relative
    width 875px
    &__svg
      width 100%
      height 80px
      position relative
      top 25px
    &__num
      position absolute
      z-index 1
      input
        width 14px
        border-radius: .3rem
  .error_input
    color red
  .error_math
    background #F58B36
    border-radius 5px

  input
    text-align center
    appearance: none
    background-color: transparent
    border: .1rem solid #AEAEAE
    box-shadow: none
    &:focus
      border-color: #4690FE
      outline: 0
</style>
