<template>
  <div id="app">
    <Axis v-bind="numbers"/>
  </div>
</template>

<script>
import Axis from './components/Axis'

const MIN_A = 6
const MAX_A = 9
const MIN_A_B = 11
const MAX_A_B = 14

function getInt (min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min
}

export default {
  name: 'app',
  components: {
    Axis
  },
  computed: {
    numbers: () => {
      let a = getInt(MIN_A, MAX_A)
      let b = getInt(MIN_A_B - a, MAX_A_B - a)
      return {a, b}
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
</style>
